#1 
1. Apply a multivariable test and obtain P-value for the following 3 datasets.
a) Dice data: 2, 3, 5, 4, 4, 3 4, 2, 3, 5, 2, 3 3, 1, 4, 4, 3, 5
b) Nordic countries: Fi,Sw,Fi,No,Sw,Fi No,Sw,No,Fi,Fi,Fi Sw,Fi,No,Sw,Sw,No

In [1]:
import numpy as np
import pandas as pd
from scipy import stats
import statsmodels
from statsmodels.formula.api import ols
import statsmodels.api as sm

# 1

In [ ]:
# a)
import statsmodels.formula.api as SFA


s1 = pd.Series([2, 3, 5, 4, 4, 3])
s2 = pd.Series([4, 2, 3, 5, 2, 3])
s3 = pd.Series([3, 1, 4, 4, 3, 5])
df = pd.concat([s1, s2, s3], axis=1)
df.columns = ['A', 'B', 'C']

print(stats.shapiro(s1).pvalue, end="\n\n")
print(stats.shapiro(s2).pvalue, end="\n\n")
print(stats.shapiro(s3).pvalue, end="\n\n")

# assuming that numbers are measured values from 6-sided dice
# (small samples from non-normal distributions)

print(stats.kruskal(s1, s2, s3).pvalue, end="\n\n")

# OR

# assuming that numbers are counts

print(stats.chi2_contingency(df)[1], end="\n\n")

# OR (if you ignore that it is "dice data")

# assuming that numbers are measured values from normal distribution
# (definitely not the case with 6-sided dice)

dfm = df.melt()
dfm.columns = ['group', 'value']

model = SFA.ols('value ~ group', data=dfm).fit()
print(SA.stats.anova_lm(model, typ=1), end="\n\n")

# ALTERNATIVELY

# assuming that numbers are measured values from normal distribution
# (definitely not the case with 6-sided dice)

print(stats.f_oneway(s1, s2, s3).pvalue, end="\n\n")

In [3]:
data=pd.DataFrame({"dataset1":dice_1,"dataset2": dice_2,"dataset3": dice_3})
modified_data=pd.melt(data,value_vars=['dataset1','dataset2','dataset3'])
modified_data.columns=['dataset','value']
# Model
print(modified_data)
model=ols('value~C(dataset)',data=modified_data).fit()
# ANOVA
anova= sm.stats.anova_lm(model,typ=1)
anova

     dataset  value
0   dataset1      2
1   dataset1      3
2   dataset1      5
3   dataset1      4
4   dataset1      4
5   dataset1      3
6   dataset2      4
7   dataset2      2
8   dataset2      3
9   dataset2      5
10  dataset2      2
11  dataset2      3
12  dataset3      3
13  dataset3      1
14  dataset3      4
15  dataset3      4
16  dataset3      3
17  dataset3      5

              df     sum_sq   mean_sq         F    PR(>F)
C(dataset)   2.0   0.333333  0.166667  0.115385  0.891807
Residual    15.0  21.666667  1.444444       NaN       NaN

In [4]:
print(stats.kruskal(dice_1, dice_2, dice_3).pvalue, end="\n\n")

0.8393489298785

In [5]:
# b

s1 = pd.Series(['Fi', 'Sw', 'Fi', 'No', 'Sw', 'Fi'])
s2 = pd.Series(['No', 'Sw', 'No', 'Fi', 'Fi', 'Fi'])
s3 = pd.Series(['Sw', 'Fi', 'No', 'Sw', 'Sw', 'No'])
df = pd.concat([s1, s2, s3], axis=1)
counts = df.apply(pd.Series.value_counts)

print(stats.chi2_contingency(counts)[1], end="\n\n")

0.6369783501089177

# 2

#### Fig. 3J in article 4

- x-axis: "the average expression level of cytotoxic genes divided by the average expression level of exhausted genes [...] in nLung, SSN, and mLUAD"
- y-axis: the fraction of observations that have a value that is less than or equal to the given value (i.e. cumulative distribution function)

The cytotoxic/exhausted score is a numerical variable. "P-value was calculated by two-sided unpaired Kruskal-Wallis rank sum test."

#### Fig. 1 in article 5

- x-axis: number of COVID-19 tests, log-transformed
- y-axis: COVID-19 mortality rate, log-transformed

Both are numerical variables and normally distributed (after log-transformation). Linear regression was used in analysis, so "correlation" means linear (Pearson) correlation.

# 3

In [6]:
df3=pd.read_csv("datasets/utu/SA/simulated_data_2_5.csv", index_col=0)
print("P value for F: ",stats.shapiro(df3["F"])[1])
print("P value for G: ",stats.shapiro(df3["G"])[1])
print("P value for H: ",stats.shapiro(df3["H"])[1])
print("P value for I: ",stats.shapiro(df3["I"])[1])

P value for F:  0.16530661284923553
P value for G:  0.4589977264404297
P value for H:  0.9414567351341248
P value for I:  0.0012272947933524847

In [7]:
FGH=pd.DataFrame({'F': df3["F"],'G':df3["G"], 'H':df3["H"]})
modified_data=pd.melt(FGH,value_vars=['F','G','H'])
#modified_data.columns=['dataset','value']
# Model
print(modified_data)

    variable  value
0          F  27.42
1          F -11.29
2          F   7.26
3          F  12.66
4          F   8.09
..       ...    ...
295        H   3.05
296        H   3.67
297        H   5.73
298        H   4.19
299        H   0.75

[300 rows x 2 columns]

In [8]:
model=ols('value~C(variable)',data=modified_data).fit()
# ANOVA
anova= sm.stats.anova_lm(model,typ=1)
anova

                df        sum_sq     mean_sq         F    PR(>F)
C(variable)    2.0   1655.589235  827.794617  3.246674  0.040288
Residual     297.0  75725.191665  254.966975       NaN       NaN

In [9]:

# a)
print("P value by ne way anova for F G H is ::: ",stats.f_oneway(df3.F, df3.G, df3.H).pvalue, end="\n\n")

P value by ne way anova for F G H is :::  0.040288402932985905

In [10]:
#b 
print("P value by kruskals for F H I is ::: ",stats.kruskal(df3["F"],df3["G"],df3["I"])[1])

P value by kruskals for F H I is :::  1.1990327166649803e-08

# 4
- article 1: none
- article 2: Bonferroni correction with ANOVA (Fig. 4 and 6-8)
- article 3: none
- article 4: Benjamini-Hochberg (Fig. 4)
- article 5: none

# 5

In [11]:
with open("horse-colic.data.csv") as f_in:
    with open("horse-colic.data.fixed", 'w') as f_out:
        for line in f_in.readlines():
            f_out.write(line.strip() + "\n")

In [12]:
import numpy as N
import statsmodels.stats as SS

df = pd.read_csv("horse-colic.data.fixed",
                sep=' ',
                na_values='?',
                usecols=[0, 1, 3, 4],
                names=['surgery', 'age', 'temperature', 'pulse'])
df.surgery = pd.Categorical(df.surgery)
df.surgery = df.surgery.cat.rename_categories(['yes', 'no'])

fn_normality = lambda a: stats.shapiro(a[~N.isnan(a)]).pvalue
print(df.groupby('surgery').temperature.apply(fn_normality), end="\n\n")
print(df.groupby('surgery').pulse.apply(fn_normality), end="\n\n")

fn_sub = lambda a, b: df[(df.surgery == a) & (~N.isnan(df[b]))][b]
p_temperature = stats.mannwhitneyu(fn_sub('yes', 'temperature'),
                               fn_sub('no', 'temperature'),
                               use_continuity=True).pvalue
p_age = stats.chi2_contingency(pd.concat([fn_sub('yes', 'age').value_counts(),
                                     fn_sub('no', 'age').value_counts()], axis=1))[1]
p_pulse = stats.mannwhitneyu(fn_sub('yes', 'pulse'),
                         fn_sub('no', 'pulse'),
                         use_continuity=True).pvalue
print(p_temperature, end="\n\n")
print(p_age, end="\n\n")
print(p_pulse, end="\n\n")

p_t_temperature = stats.ttest_ind(fn_sub('yes', 'temperature'),
                              fn_sub('no', 'temperature')).pvalue
p_t_pulse = stats.ttest_ind(fn_sub('yes', 'pulse'),
                        fn_sub('no', 'pulse')).pvalue
print(p_t_temperature, end="\n\n")
print(p_t_pulse, end="\n\n")

corrected = SS.multitest.multipletests([p_temperature, p_age, p_pulse],
                                       method='fdr_bh')[1]
print(corrected, end="\n\n")

surgery
yes    0.004697
no     0.038224
Name: temperature, dtype: float64

surgery
yes    7.691648e-07
no     1.269095e-08
Name: pulse, dtype: float64

0.5115756499221304

0.18449266908802875

0.0017131378639079313

0.5314060962927787

0.0018551232424538833

[0.51157565 0.276739   0.00513941]